<mat-table [dataSource]="dataSource" id="passwords">
  <ng-container matColumnDef="host">
    <mat-header-cell *matHeaderCellDef>Host</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.host}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="revision">
    <mat-header-cell *matHeaderCellDef>Revision</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.revision}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="length">
    <mat-header-cell *matHeaderCellDef>Length</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.length}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="transform">
    <mat-header-cell *matHeaderCellDef>Transform</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element.transform}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></mat-row>
</mat-table>
